<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>After School Activities</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="lessons.css" />
    <script src="vue.js" defer></script>

</head>
<body>
    <div id="app">
        <header>
        
            <h1>{{ website }}</h1>
        </header>

        <button @click="displayCheckout"
        :disabled="basket.length=== 0">
            {{ lessonsInBasket }}
            <span class="fa-solid fa-cart-shopping"></span>
            Checkout
        </button>

        <main>
            <div v-if="showLessons">
                <div v-for="(lesson, index) in lessons" :key="index" class="lesson-template">
                    <img :src="lesson.image" :alt="lesson.subject">
                    <h3>{{ lesson.subject }}</h3>
                    <p>{{ lesson.location }}</p>
                    <p>Price: £{{ lesson.price }}</p>
                    <button @click="removeLesson (index, lesson)">Remove from basket</button>
                    <p v-if="lesson.space_available > 0">
                        Space available: {{ lesson.space_available }}
                    </p>
                    <p v-else>
                        You have reached the maximum number of lessons available </p>
                    <input type="button" value="Add to basket" @click="addLessonToBasket(lesson)"
                        :disabled="lesson.space_available === 0">
                </div>
            </div>

            <div v-else>
                <h1>Checkout Page</h1>
                <div v-if="basket.length > 0">
                    <div v-for="(lesson, index) in basket" :key="index" class="lesson-template">
                        <img :src="lesson.image" :alt="lesson.subject">
                        <h3>{{ lesson.subject }}</h3>
                        <p>{{ lesson.location }}</p>
                        <p>Price: £{{ lesson.price }}</p>

                        <span v-if="lessonsLeft(lesson) > 0"> Only {{lessonsLeft (lesson)}} left!</span>


                    </div>

                    <!--Form for Checkout Page to enter personal details-->
                   <div class="checkout-form">
                    <h2>Personal details</h2>
                    <h3>Please complete the form below to proceed with your order</h3>


                    <label for="firstname"><strong>First name:</strong></label>
                    <input type="text" id="firstName"  v-model.trim="order.firstName"> 

                     <label for="surname"><strong>Surname:</strong></label>
                    <input type="text" id="surname"  v-model.trim="order.surname">

                    <label for="phone"> <strong>Phone number:</strong></label>
                    <input type="integer" id="phoneNo" v-model.number="order.phone">

                    <label for="address"><strong>Address Line 1:</strong></label>
                    <input type="text" id="address"  v-model.trim="order.address">

                     <label for="city"><strong>City/Town:</strong></label>
                    <input type="text" id="city"  v-model.trim="order.city">

                    <label for="postcode"><strong>Postcode:</strong></label>
                    <input type="text" id="postcode"  v-model.trim="order.postcode">

                    <label for="email"><strong>Email address:</strong></label>
                    <input type="text" id="email"  v-model.trim="order.email">

                    <button :disabled="isFormValid" @click="submitOrder">Checkout</button>
                   </div> 
                </div>
                <p v-else style="text-align:center; color:red;">
                    There are currently no items in your basket. Please select some lessons to proceed with the checkout
                </p>
            </div>
        </main>
    </div>

</body>

</html>